

@model IEnumerable<Library.Models.BookCopy>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["BookTitle"]</h1>

<table class="table">
    <thead>
        <tr>
            <th> Обложка </th>
            <th> Описание </th>
            <th> В наличии </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Picture.Image != null)
                    {
                        <img style='width:90px; height:160px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Picture.Image))" />
                    }
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    @if (@item.IsInStock)
                    {
                        @Html.Raw("Да")
                    }
                    else
                    {
                        @Html.Raw("Нет")
                    }
                <td>
                    @if (User.IsInRole("librarian"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    }
                    @if (User.IsInRole("reader") && item.IsInStock)
                    {
                        <a asp-action="Book" asp-route-userName="@User.Identity.Name" asp-route-bookId="@item.Id">Заказать</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
