@model IEnumerable<Library.Models.Usage>

@{
    ViewData["Title"] = "Index";
}

<h1>Активные заказы</h1>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Книга
            </th>
            <th>
                Дата выдачи
            </th>
            <th>
                Дата сдачи
            </th>
            @if (User.IsInRole("reader"))
            {
                <th>
                    Статус
                </th>
            }
            else if (User.IsInRole("librarian"))
            {
                <th>
                    Читатель
                </th>
                <th>
                    Выдал
                </th>
                <th>
                    Принял
                </th>
                <th>
                    Статус
                </th>

                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.BookCopy.Book.Title
            </td>
            <td>
                @item.StartDate.ToShortDateString()
            </td>
            <td>
                @item.EndDate.ToShortDateString()
            </td>
            @if (User.IsInRole("reader"))
            {
                <td>
                    @item.UsageStatus.Name
                </td>
            }
            else if (User.IsInRole("librarian"))
            {
                <td>
                    @item.Reader.User.FirstName @item.Reader.User.SecondName
                </td>
                @if (item.StartLibrarian != null)
                {
                    <td>
                        @item.StartLibrarian.User.FirstName @item.StartLibrarian.User.SecondName
                    </td>
                }
                else
                {
                    <td>
                        книга ещё не выдана
                    </td>
                }

                @if (item.EndLibrarian != null)
                {
                    <td>
                        @item.EndLibrarian.User.FirstName @item.EndLibrarian.User.SecondName
                    </td>
                }
                else
                {
                    <td>
                        книга ещё не сдана
                    </td>
                }
                <td>
                    @item.UsageStatus.Name
                </td>
                <td>
                    @if (item.UsageStatusId == 1)
                    {
                        <a asp-action="GetBook" asp-route-id="@item.Id">Выдана</a>
                        <span> / </span>
                    }
                    else if (item.UsageStatusId == 2)
                    {
                        <a asp-action="GetBackBook" asp-route-id="@item.Id">Сдана</a>
                        <span> / </span>
                    }
                    <a asp-action="Delete" asp-route-id="@item.Id">Отменить</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
